{% extends 'base.html.twig'%}

{% block title %}Dettes de client{% endblock %}

{% block main %}
    <div class="product-lists">
        <div class="product-list bg-white rounded-lg shadow p-4 w-full">
            <div class="p-4 sm:p-6 md:p-8 mb-6" style="background: linear-gradient(to right, #2b6cb0, #2d3748)">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-6">
                    <!-- Carte Total des Dettes -->
                    <div class="stat-card rounded-lg p-4 sm:p-6 text-white font-semibold text-lg sm:text-xl md:text-2xl flex flex-col justify-between">
                        <div class="flex flex-col justify-center space-y-4">
                            <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4 md:space-x-8">
                                <img src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2" alt="User Photo" class="w-24 h-24 sm:w-32 sm:h-32 md:w-36 md:h-36 rounded-full">
                                <div class="flex flex-col justify-between h-full pb-4 text-center sm:text-left">
                                    <p>Prenom: {{client.user ? client.user.prenom:""}} </p>
                                    <p>Nom: {{client.user ? client.user.nom:""}}</p>
                                    <p>Tel: {{client.telephone}}</p>
                                </div>
                            </div>
                            <p class="email text-center sm:text-left">{{client.user ? client.user.login:""}}</p>
                        </div>
                    </div>

                    <!-- Carte Demandes en Cours -->
                    <div class="stat-card rounded-lg p-4 sm:p-6 font-semibold text-white text-lg sm:text-xl md:text-3xl flex flex-col justify-between">
                        <p>Montant Total: {{total}} FCFA</p>
                        <p>Montant Versé: {{verser}} FCFA</p>
                        <p>Montant Restant: {{du}} FCFA</p>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-semibold">Liste des dettes</h2>
                    <div class="mt-4">
                        <a href="?id={{ client.id }}" class="bg-gray-500 text-white px-4 py-2 rounded mr-2">Toutes</a>
                        <a href="?id={{ client.id }}&type=non_soldé" class="bg-red-500 text-white px-4 py-2 rounded mr-2">Non soldées</a>
                        <a href="?id={{ client.id }}&type=soldé" class="bg-blue-500 text-white px-4 py-2 rounded mt-2 sm:mt-0">Soldées</a>
                    </div>
                </div>
                <table class="w-full">
                    <thead class="bg-blue-500 text-white">
                        <tr>
                            <th class="p-2 text-center">DATE</th>
                            <th class="p-2 text-center">MONTANT</th>
                            <th class="p-2 text-center">VERSER</th>
                            <th class="p-2 text-center">RESTANT</th>
                            <th class="p-2 text-center">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for dette in dettes %}
                        <tr>
                            <td class="p-2 text-center">{{ dette.createAt.format('d-m-Y')}}</td>
                            <td class="p-2 text-center">{{dette.montant}} FCFA</td>
                            <td class="p-2 text-center">{{dette.montantVerser}} FCFA</td>
                            <td class="p-2 text-center">{{dette.montantRestant}} FCFA</td>
                            <td class="p-2 text-center">
                                <a href="../Boutiquier/articles-Paiements.html"><button class="bg-blue-500 text-white px-4 py-1 rounded">Détails</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if maxPage > 1 %}
                <div class="flex justify-end mt-4 mb-2 sm:mb-0 space-x-2">
                    {% if page != 1 %}
                        <a href="?id={{ client.id }}&page={{ page - 1}}" class="px-3 py-1 bg-gray-300 rounded-md shadow hover:bg-gray-400">
                            &lt;
                        </a>
                    {% endif %}
                    {% for i in 1..maxPage %}
                        <a href="?id={{ client.id }}&page={{i}}" class="px-3 py-1 {{ i == page ? "bg-blue-500 text-white hover:bg-blue-600": "bg-gray-300 hover:bg-gray-400"}}  rounded-md shadow ">
                            {{i}}
                        </a>
                    {% endfor %}
                    {% if page != maxPage %}
                        <a href="?id={{ client.id }}&page={{ page + 1}}" class="px-3 py-1 bg-gray-300 rounded-md shadow hover:bg-gray-400">
                            &gt;
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}