{% extends 'base.html.twig'%}

{% block title %}Formulaire client{% endblock %}

{% block main %}
    <div class="relative bg-white rounded-lg shadow pt-10 px-4 pb-4 w-full max-w-[95%] sm:max-w-2xl mx-auto">
        <div class="p-6 text-center border rounded-xl">
            {{ form_start(formClient,{'attr':{'class':'space-y-6'}}) }}
             {{ form_errors(formClient)}}
                
                <div class="form-row flex flex-col sm:flex-row items-start sm:items-center space-y-2 sm:space-y-0 sm:space-x-2 mb-4">
                    <label for="" class="w-full sm:w-1/4 font-semibold text-gray-700 flex items-center">
                        <i class="fas fa-user mr-2"></i>{{ form_label(formClient.surnom,'Surnom')}}
                    </label>
                    {{ form_widget(formClient.surnom)}}
                </div>
                <span class="text-red-700">
                        {{ form_errors(formClient.surnom)}}
                </span>
                <div class="form-row flex flex-col sm:flex-row items-start sm:items-center space-y-2 sm:space-y-0 sm:space-x-2 mb-4">
                    <label for="" class="w-full sm:w-1/4 font-semibold text-gray-700 flex items-center">
                        <i class="fas fa-phone mr-2"></i>{{ form_label(formClient.telephone,'Téléphone')}}
                    </label>
                    {{ form_widget(formClient.telephone)}}
                </div>
                <span class="text-red-700">
                    {{ form_errors(formClient.telephone)}}
                </span>
                <div class="form-row flex flex-col sm:flex-row items-start sm:items-center space-y-2 sm:space-y-0 sm:space-x-2 mb-4">
                    <label for="" class="w-full sm:w-1/4 font-semibold text-gray-700 flex items-center">
                        <i class="fas fa-map-marker-alt mr-2"></i>{{ form_label(formClient.adresse,'Adresse')}}
                    </label>
                    {{ form_widget(formClient.adresse)}}
                </div>
                <span class="text-red-700">
                    {{ form_errors(formClient.adresse)}}
                </span>



                <div class="flex items-center justify-start gap-2">
                    <span class="font-semibold text-gray-700">Créer un compte :</span>
                    <div class="flex items-center">
                        <label class="toggle-switch">
                            <input type="checkbox" id="creerCompte" class="sr-only" onchange="toggleAccountFields()">
                            <span class="slider"></span>
                        </label>
                        <span class="ml-2 text-gray-700 font-semibold" id="toggleLabel">Non</span>
                    </div>
                </div>


                <!-- Champs Supplémentaires pour la Création de Compte -->
                <div id="accountFields" class="hidden space-y-6 mt-4">
                    <div class="form-row flex flex-col sm:flex-row items-start sm:items-center space-y-2 sm:space-y-0 sm:space-x-2 mb-4">
                        <label for="nom" class="w-full sm:w-1/4 font-semibold text-gray-700 flex items-center">
                            <i class="fas fa-user mr-2"></i>Nom
                        </label>
                        <input type="text" id="nom" name="nom" class="input-shadow w-full sm:flex-grow p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                    </div>

                    <div class="form-row flex flex-col sm:flex-row items-start sm:items-center space-y-2 sm:space-y-0 sm:space-x-2 mb-4">
                        <label for="prenom" class="w-full sm:w-1/4 font-semibold text-gray-700 flex items-center">
                            <i class="fas fa-user mr-2"></i>Prénom
                        </label>
                        <input type="text" id="prenom" name="prenom" class="input-shadow w-full sm:flex-grow p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                    </div>
                <!-- Champ Login -->
                    <div class="form-row flex flex-col sm:flex-row items-start sm:items-center space-y-2 sm:space-y-0 sm:space-x-2 mb-4">
                        <label for="login" class="w-full sm:w-1/4 font-semibold text-gray-700 flex items-center">
                        <i class="fas fa-envelope mr-2"></i>Login
                        </label>
                        <input type="text" id="login" name="login" class="input-shadow w-full sm:flex-grow p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                    </div>

                    <!-- Champ Password -->
                    <div class="form-row flex flex-col sm:flex-row items-start sm:items-center space-y-2 sm:space-y-0 sm:space-x-2 mb-4">
                        <label for="password" class="w-full sm:w-1/4 font-semibold text-gray-700 flex items-center">
                        <i class="fas fa-lock mr-2"></i>Password
                        </label>
                        <input type="password" id="password" name="password" class="input-shadow w-full sm:flex-grow p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                    </div>
                </div>

                <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-6">
                    <button type="reset" class="w-full sm:w-auto bg-red-600 text-white font-bold py-2 px-4 rounded-md hover:bg-red-700 flex items-center justify-center">
                        <i class="fas fa-times mr-2"></i>Annuler
                    </button>
                    <button type="submit" class="w-full sm:w-auto bg-blue-600 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 flex items-center justify-center">
                        <i class="fas fa-save mr-2"></i>Enregistrer
                    </button>
                </div>
                {{ form_end(formClient)}}
        </div>
    </div>
    <script src="{{ asset('js/clientForm.js')}}"></script>
{% endblock %}